.font {
    -unity-font-definition: url("project://database/Assets/AssetStoreTools/Font/851CHIKARA-YOWAKU_002.ttf?fileID=12800000&guid=595748de8db42994daa8c4921bcf1d83&type=3#851CHIKARA-YOWAKU_002");
}
